body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

div.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-flow: row wrap;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

div.mod-block-wrapper {
  width: 33vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.mod-block {
  width: 150px;
  height: 150px;
  margin: 20px;
  background: #000;
  position: relative;
}

div.output {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  display: block;
  width: 100px;
  height: 20px;
}

span.mod-block-label {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: #eee;
  margin-top: 5px;
}

div.mod-block span.control {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

div.mod-block span.control input {
  width: 100%;
  margin: 0;
}

div.output button.io {
  left: 50%;
  transform: translateX(-50%);
}

button.io {
  position: absolute;
  bottom: 0;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 400;
  background: #FF6AC1;
  border: none;
}

button.io:hover, button.io:active {
  background: #CB5DFF;
}

button.io:active {
  outline: 3px #aaf;
}

button.io-mod, button.io-input {
  left: 0;
}

button.io-output {
  top: 0;
  right: 0;
}