html,
body {
	position: fixed;
	overflow: hidden;
}

body {
	/* background: #c66cd9; */
	background: #ac81b7;
	-webkit-user-select: none; /* Safari */
	user-select: none;
	word-wrap: break-word;
}

body,
#root {
	margin: 0;
	padding: 0;
	font-family: monospace;
	display: block;
	width: 100vw;
	height: 100vh;
	color: #000;
}

h1 {
	color: #fff;
}

#root {
	position: relative;
}

#overview {
	position: relative;
	bottom: 7.5rem;
	right: 0;
	width: 16rem;
	height: 9rem;
	border: 0.1rem solid #ffffff;
	border-radius: 0.25rem;
	animation: all 1s linear;
	background-color: #6f5e4b;
	z-index: 11;
}

#overview.minimized {
	height: 1.5rem;
	width: 2.667rem;
	bottom: 0;
}

#overview.minimized #scrub-outline {
	display: none;
}

#overview > span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

#overview > span > button {
	display: none;
	position: absolute;
	top: -0.75rem;
	left: -0.75rem;
	z-index: 1000;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 0.75rem;
}

#overview:hover {
	background-color: #bf82bb;
}
#overview:hover > span > button {
	display: block;
}

#overview #scrub-area {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: contain;
	overflow: hidden;
}

#overview:hover #scrub-area {
	opacity: 0.75;
}

#overview #scrub-outline {
	position: absolute;
	display: block;
	border: 0.1rem solid #ffffff;
}

#status {
	color: #fff;
	margin: 1rem;
}

main section > h2,
main ul li a,
main ul li a:visited {
	color: #fff;
}

.visually-hidden:not(:focus):not(:active) {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #182f34;
	border-bottom: 0.05rem white solid;
	height: 2.5rem;
	padding: 0.125rem 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 20;
	box-sizing: border-box;
}

nav section {
	display: flex;
}

nav ul.nav-links {
	display: flex;
	padding-left: 1rem;
	margin: 0;
	list-style-type: none;
}

nav ul.nav-links li {
	display: flex;
	margin-right: 1rem;
	align-items: center;
}

nav ul.nav-links a,
nav ul.nav-links a:visited {
	color: #7cd2e2;
}

#toolbar {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.5rem;
	border-top: 1px solid black;
	background-color: #7cd2e2;
	box-sizing: content-box;
	height: 1.5rem;
	display: flex;
	justify-content: space-between;
	z-index: 999;
}

#toolbar button {
	background-color: #3c6a73;
	display: flex;
	justify-content: center;
	align-items: center;
}

#toolbar img {
	height: 100%;
}

#toolbar > section {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding: 0 0.5rem;
}

main#init {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main {
	position: absolute;
	top: 2.5rem;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
}

button {
	background-color: #9142a0;
	border: 1px solid white;
	border-radius: 0.5rem;
	color: white;
	cursor: pointer;
}

#selection {
	position: absolute;
	border: solid 1px #fffc;
	border-radius: 3px;
}

#spacer {
	position: relative;
	min-width: calc(100vw + 300px);
	min-height: calc(100vh + 300px - 2.5rem);
	transition: all linear 10ms;
}

#connections {
	z-index: 10;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#module-canvas {
	pointer-events: all;
	overscroll-behavior: contain;
}

.module {
	background: #aad96c;
	position: absolute;
	display: flex;
	flex-direction: column;
	cursor: move;
	border: 0.1rem solid black;
	border-bottom-left-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	padding: 0 0.5rem 0.5rem 0.5rem;
	transition: border linear 100ms;
	width: 10rem;
	transform: translate(-50%, -50%);
}

.module::before {
	content: '';
	display: block;
	position: absolute;
	width: calc(100% + 0.2rem);
	height: 1.4rem;
	top: -1.4rem;
	left: -0.1rem;
	background-color: #7bd7f0;
	transition: border linear 100ms;
	border: 0.1rem solid black;
	border-top-left-radius: 0.2rem;
	border-top-right-radius: 0.2rem;
}

.module h2 {
	display: inline-block;
	position: absolute;
	top: -1.2rem;
	left: 0.5rem;
	margin: 0;
	font-weight: 100;
	font-size: 0.7rem;
	cursor: text;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 9rem;
}
.module h2 input {
	position: relative;
	top: -0.1rem;
	height: 1.2rem;
	width: 9rem;
}

.module .active {
	background-color: #d9cc6c;
}

.module .connected {
	background-color: #e86a88;
}

.module .highlight {
	background-color: #aad96c;
}

.module.selected,
.module.selected::before {
	border: 0.1rem solid #ffffff;
}

.module.selection_pending,
.module.selection_pending::before {
	border: 0.1rem dashed #ffffffdd;
}

.module.selected,
.module.selection_pending {
	z-index: 1;
}

.connectors {
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
}

.connectors .inputs,
.connectors .outputs {
	display: flex;
	flex-direction: column;
}

.io {
	display: flex;
	flex: 1rem;
}

.io:not(:first-child) {
	margin-top: 0.5rem;
}

.connector {
	position: relative;
	width: 1.2rem;
	height: 1.2rem;
	margin: 0;
	border-radius: 0.6rem;
	background-color: #b9ffce;
	border: 1px solid #4f4658;
}

.connector:hover:before {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	border-radius: 50%;
	display: block;
	background: rgb(63, 94, 251);
	background: radial-gradient(circle, #b9ffce 0%, #7aa888 100%);
	border: 1px solid #4f4658;
	z-index: 999;
}

.connector::after {
	content: '';
	position: absolute;
	border-radius: 50%;
	display: block;
	background: transparent;
	top: -50%;
	left: -100%;
	height: 200%;
	width: 300%;
}

.connector:hover::after {
	top: -50%;
	height: 200%;
}

main.selection-drag .connector:hover:before {
	display: none;
}

.connector:first-child {
	margin-right: calc(1rem + 4px);
	margin-left: calc(-2.2rem - 4px);
}

.connector:last-child {
	margin-left: calc(1rem + 4px);
	margin-right: calc(-2.2rem - 4px);
}

.numparam:not(:first-child),
.radioparam:not(:first-child) {
	margin-top: 0.1rem;
}

.numparam,
.numparam > div,
.radioparam {
	display: flex;
	height: 1.25rem;
}

.numparam label h3,
.io p,
.radioparam label {
	font-weight: 100;
	font-size: 0.75rem;
}

.numparam input,
.radioparam select {
	font-size: 0.75rem;
	width: 4rem;
	font-weight: 400;
}

#main.selection_drag .module {
	pointer-events: none;
}

.radioparam select {
	font-size: 0.6rem;
}

.numparam input {
	text-align: right;
}

.numparam button {
	margin-right: 1rem;
}

.numparam > div,
.radioparam {
	justify-content: space-between;
	flex-grow: 1;
	overflow: hidden;
}

.numparam > h3 {
	font-size: 0.667rem;
}

#load {
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
	color: #fff;
}

input[type='file'] {
	display: none;
}

.ReactModalPortal {
	position: relative;
	z-index: 30;
}
