body {
	background: #2b2630;
	-webkit-user-select: none; /* Safari */
	user-select: none;
	word-wrap: break-word;
}

body,
#root {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	position: absolute;
	box-sizing: border-box;
	font-family: monospace;
	min-height: 100vh;
	min-width: 100vw;
	color: #fff;
}

#root {
	position: relative;
	display: block;
}

main {
	min-width: 100vw;
	min-height: 100vh;
	width: inherit;
}

.module {
	background: #4f4658;
	position: absolute;
	display: flexbox;
	cursor: move;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 3px;
}
