body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  background: rgba(46, 204, 113, 0.1);
}

#root {
  display: grid;
  grid-template-columns: minmax(15rem, 45rem);
  grid-auto-rows: 10rem;
  grid-gap: 5rem;
  padding: 1.5rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-gap: 5rem;
}

.module {
  grid-row: 1;
  display: block;
  border: 3px solid #16a085;
  background-color: white;
  border-top-left-radius: 0.5rem;
  min-height: 5rem;
  min-width: 15rem;
  max-width: 45rem;

  display: grid;
  grid-template-columns: 1.5rem auto 1.5rem;
  grid-template-rows: 2rem auto 1.5rem;
}

.module > *:first-child, .module > *:last-child {
  grid-column-start: 1;
  grid-column-end: 4;
}

.visually-hidden {
  position: absolute;
  top: 0;
  left: -3000px;
}

.io-list {
  display: grid;
  grid-gap: 1rem;
}

.inputs, .outputs {
  justify-content: space-between;
  align-content: center;
}

*:focus {
  outline: 3px solid red;
}

.io {
  display: block;
  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border-radius: .125rem;
}
