
body {
	background: #263030;
	-webkit-user-select: none; /* Safari */
	user-select: none;
}

body, #root {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	position: absolute;
	box-sizing: border-box;
	font-family: monospace;
	min-height: 100vh;
	min-width: 100vw;
	color: #fff;
}

#root {
	padding-top: 1rem;
	position: relative;
	display: block;
}

.module {
	position: absolute;
	display: flexbox;
	cursor: move;
	border: 1px solid white;
	width: 200px;
	height: 200px;

}
