body {
	background: #2b2630;
	-webkit-user-select: none; /* Safari */
	user-select: none;
	word-wrap: break-word;
}

body,
#root {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	position: absolute;
	box-sizing: border-box;
	font-family: monospace;
	min-height: 100vh;
	min-width: 100vw;
	color: #fff;
}

#root {
	position: relative;
	display: block;
}

main {
	min-width: 100vw;
	min-height: 100vh;
	width: inherit;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#module-canvas {
	pointer-events: all;
}

.module {
	background: #4f4658;
	position: absolute;
	display: flexbox;
	cursor: move;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 3px;
	transition: border linear 100ms, top linear 100ms, left linear 100ms;
}

#module-canvas.dragging > .module {
	transition: border linear 100ms, top linear 10ms, left linear 10ms;
}

.module.selected {
	border: 1px solid rgba(255, 255, 255, 1);
}

.module.selection_pending {
	border: 1px dashed rgba(255, 255, 255, 0.75);
}

.module.selected,
.module.selection_pending {
	z-index: 1;
}

nav {
	background: #1d1921;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	padding: 0.33rem 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	z-index: 2;
}

nav > section {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding: 0 0.5rem;
}

#load {
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
}

input[type='file'] {
	display: none;
}
