body {
	background: #2b2630;
	-webkit-user-select: none; /* Safari */
	user-select: none;
	word-wrap: break-word;
}

body,
#root {
	margin: 0;
	padding: 0;
	font-family: monospace;
	display: block;
	width: 100vw;
	height: 100vh;
	color: #fff;
}

#root {
	position: relative;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #1d1921;
	height: 2.5rem;
	padding: 0.33rem 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	z-index: 2;
}

nav > section {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding: 0 0.5rem;
}

main {
	position: absolute;
	top: 2.5rem;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
}

#selection {
	position: absolute;
	border: solid 1px #fffc;
	border-radius: 3px;
}

#module-canvas {
	pointer-events: all;
}

.module {
	background: #4f4658;
	position: absolute;
	display: flexbox;
	cursor: move;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 3px;
	padding: 1rem;
	transition: border linear 100ms, top linear 100ms, left linear 100ms;
}

.module h2 {
	max-width: 300px;
	margin-bottom: 1rem;
}

.module .active {
	background-color: yellow;
}

.module .highlight {
	background-color: green;
}

#module-canvas.dragging > .module {
	transition: border linear 100ms, top linear 10ms, left linear 10ms;
}

.module.selected {
	border: 1px solid rgba(255, 255, 255, 1);
}

.module.selection_pending {
	border: 1px dashed rgba(255, 255, 255, 0.75);
}

.module.selected,
.module.selection_pending {
	z-index: 1;
}

.connectors {
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
}

.numparam,
.radioparam {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
}

.numparam button {
	margin-right: 1rem;
}

.numbox {
	display: flex;
	justify-content: space-between;
}

.numbox label {
	min-width: 6rem;
}

.numbox input {
	margin-left: 1rem;
}

#load {
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
}

input[type='file'] {
	display: none;
}
