{
	"arrowParens": "avoid",
	"tabWidth": 2,
	"trailingComma": "none",
	"semi": true,
	"proseWrap": "always",
	"printWidth": 100,
	"useTabs": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/lib/(.*)$",
		"^@/components/(.*)$",
		"^@/app/(.*)$",
		"^./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
